@import "components/reset";
@import "components/chat/chat_ui";
@import "components/dashboard/dashboard";
@import "components/table/view";
@import "components/nav";

.not_active {
  visibility: hidden;
  cursor: unset;
  pointer-events: none;
  display: none;
}

.is-absolute{
  position: absolute;
}

.sentence{
  text-transform: capitalize;
}