.notification {
  all: unset;
  position: absolute;
  top: 2%;
  z-index: 10000;
  left: 50%;
  width: 350px;
  transform: translate(-50%, 0);

  transition: top 1s ease-in-out;

  .notification-item {
    margin: 10px 0;
  }

  .notification-body {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;

    .notification-close {
      top: -300px;

      transition: top 1s ease-in-out;
    }
  }
}